@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&family=Roboto:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.header{
    width: 100%;
    height: 0;
}

.container{
    max-width: 1440px;
    margin:  0 auto;
    padding: 23px 40px ;
}

.header-nav{
    display:flex;
    justify-content: space-between;
}


.section{
    width: 100%;
    background: url('./imgs/bg\ image\ \(1\).png')center;
    background-repeat:no-repeat;
    background-size: cover;
}

.section-text{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title{
   font-style: normal;
font-weight: normal;
font-size: 150px;
line-height: 183px;
letter-spacing: 0.3em;
color: #FFFFFF;
}

.section-subtitle{
margin-top: 70px;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 70px;
letter-spacing: 0.2em;
color: #FFFFFF;
text-align: center;
}


.section2{
    width: 100%;
    background: black;
}


.section2-box{
    margin-top: 116px;
    display: flex;
    justify-content: space-between;
}

.section2-title{
    font-weight: 500;
font-size: 40px;
line-height: 49px;
letter-spacing: 0.1em;

color: #FFFFFF;
}

.section2-subtitle{
    margin-top: 37px;
    width: 348px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.section2-img{
    display: flex;
    column-gap: 25px;
    margin-right: 100px;
}

.section2-images{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.section2-text{
    margin-left: 100px;
}



.section3{
    width: 100%;
    background:url(./imgs/bg\ 2.png)center;
    height: 625px;
}

.section3-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3-title{
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 92px;
    color: #FFFFFF;
}

.section3-subtitle{
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.1em;
margin-top: 34px;
color: #FFFFFF;
width: 700px;
}

.section3-mail{
background:none;
border-color: white;
border-bottom: 1px;
margin-top: 100px;
border: none;
width: 335px;
height: 50px;
color: white;
font-size: 30px;
font-weight: bold;
}

::placeholder{
    color: white;
    font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.1em;
font-weight: bold;
}

.section3-mailline{
width: 335px;
height: 1px;
left: 552px;
top: 422px;
background: #FFFFFF;
}

.section3-button{
    width: 335px;
height: 64px;
left: 552px;
top: 447px;
margin-top: 25px;
background: #000000;
border: black 1px solid;
}

.section3-buttontext{
    font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
}


.footer{
    width: 100%;
    background-color: black;
    height: 89px;
}

.containerfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 89px;
}

.logos{
    display: flex;
    column-gap: 22px;
    margin-left: 40px;
}

.footermail{
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
margin-right: 40px;
}